

  h1{
    color: lightgreen;
  }
  img {
    width: 400px;
  }

  #thirdDiv{
    width: 500px;
    height: 600px;
    background-color: firebrick;
    padding: 50px;
    border: 5px solid darkgreen;
    margin: 50px;
  }
  #spanId{
    font-size: 18px;
    margin: 50px;
  }
